.social-item {
  width: 44px;
  height: 44px;
  list-style: none;
  margin-bottom: 30px;
}
.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: background-color, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: #2196f3;
  border-radius: 50%;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-item {
  margin-left: 10px;
}
.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  justify-content: center;
  align-items: center;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
}
