body {
  color: #757575;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}
.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
:hover,
:focus {
  outline: none;
}
button {
  font-family: inherit;
}
.body-1 {
  color: #757575;
}
